<!-- class="navbar navbar-expand-md" -->
  <div id="nav-bar" class="navbar-expand-md">
      <input id="nav-toggle" type="checkbox"/>
      <div id="nav-header"><a id="nav-title" href="/home">ALUM<i class="fab fa-codepen"></i>CSH</a>

        <!-- Code for the burger  -->
        <!-- <label for="nav-toggle"><span id="nav-toggle-burger"></span></label> -->
        <hr/>
      </div>
      <div id="nav-content">
        <div class="nav-button"><a href="/home"><i class="fas fa-solid fa-house"></i><span>Home</span></a></div>
        <div class="nav-button"><a href="/profiles"><i class="fas fa-solid fa-user-graduate"></i><span>Alumni Page</span></a></div>
        
        <div class="nav-button"><a href="/collegeteam"><i class="fas fa-solid fa-people-group"></i><span>College Team</span></a></div>
        <hr/>
        <div id="nav-content-highlight"></div>
      </div>
      <input id="nav-footer-toggle" type="checkbox"/>
      <div id="nav-footer">
        <div id="nav-footer-heading">
          <div id="nav-footer-avatar"><img src="https://gravatar.com/avatar/4474ca42d303761c2901fa819c4f2547"/></div>
          <div id="nav-footer-titlebox"><a id="nav-footer-title" href="/account" >Sam garcia</a><span id="nav-footer-subtitle">Admin</span></div>
          <label for="nav-footer-toggle"><i class="fas fa-caret-up"></i></label>
        </div>
        <div id="nav-footer-content">
          <center><button id="LogButt" class="button-33" href="/home"role="button">Log Out</button></center>
        </div>
      </div>
    </div>